.odd {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#second {
    color: blue;
    font-size: 36px;
}

#cooler {
    font-size: 24px;
}

#fourth {
    background-color:lightgreen;
    font-size: 24px;
    font: bold; 
}