.click {
    background-color: black;
    color: white;
}/* Add CSS Styling */

.no-click {
    background-color: yellow;
}

#both {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}